 {{> banner }}
 
	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Thể Loại</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    {{#each this.categories}}
                    <li class="filter-list">
                      <a href="/category/{{_id}}"> {{name}}<span> ({{numOfBook}})</span></a>
                    </li>
                    {{/each}}
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Chọn Lựa</div>
            <div class="common-filter">
              <div class="head">Tác Giả</div>
              <form action="#" id="myform">
                <ul>
                  <li class="filter-list"><input class="reset" type="radio" value="Tất cả"><label for="author" onclick="selectParam1()" >&nbsp;&nbsp;&nbsp;&nbsp;Tất cả<span></span></label></li>
                  {{#each this.allproducts}}
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="author{{auslug}}" name="author" value="{{auslug}}"><label for="author{{auslug}}" onclick="selectParam('author', '{{auslug}}')" >{{author}}<span> (1)</span></label></li>
                  {{/each}}
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Giá Cả</div>
              <form action="#" id="myform1">
                <ul>
                  {{!-- <li class="filter-list"><input class="reset" type="radio" value="99"><label for="author" onclick="selectParam2()" >&nbsp;&nbsp;&nbsp;&nbsp;Tất cả<span></span></label></li> --}}
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="t1" name="price" value="10"><label for="t1" onclick="selectParam('price', 10)">$0 -> $10</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="t2" name="price" value="20"><label for="t2" onclick="selectParam('price', 20)">$10 -> $20</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="t3" name="price" value="30"><label for="t3" onclick="selectParam('price', 30)">$20 -> </label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="t4" name="price" value="99"><label for="t4" onclick="selectParam('price', 99)">Tất cả </label></li>
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <span>$</span>
                  <div id="lower-value"></div>
                  <div class="to">to</div>
                  <span>$</span>
                  <div id="upper-value"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select name="orderby" onchange="this.form.submit()">
                <option value="" selected disabled hidden><%= sort_value %></option>
                <option value="1">Giá thấp đến cao</option>
                <option value="-1">Giá cao đến thấp</option>
              </select>
            </div>
            <div class="sorting mr-auto" >
              <select name="numItems" onchange="this.form.submit()">
                <% if(ITEM_PER_PAGE != 1000){%>								
								<option value="" selected disabled hidden><%= ITEM_PER_PAGE%></option>
								<% }else{%>
									<option value="" selected disabled hidden>Tất cả</option>
								<% } %>

                <option value="3">Show 3</option>
                <option value="6">Show 6</option>
                <option value="9">Show 9</option>
                <option value="1000">Show All</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input id="txtKey" type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search btnSearch" id="btnSearch" onclick="onClickSearch()"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              {{#each this.products}}
                <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src={{img.0.url}} alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                      <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{this.category.name}}</p>
                    <h4 class="card-product__title"><a href="/category/{{categoryID}}/{{_id}}">{{name}}</a></h4>
                    <p class="card-product__price"><sapn>$</sapn>{{price}}</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	<section class="related-product-area">
		<div class="container">
			<div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Top <span class="section-intro__style">Product</span></h2>
      </div>
			<div class="row mt-30">
        {{#each topproducts1}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="/category/{{categoryID}}/{{_id}}"><img src={{img.0.url}} alt=""></a>
              <div class="desc">
                  <a href="/category/{{categoryID}}/{{_id}}" class="title">{{name}}</a>
                  <div class="price">${{price}}</div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</section>
	<!-- ================ top product area end ================= -->		

<script>
    function selectParam(key, value){
      let url = `/category?${key}=${value}`;
      location.href=url;
    }

    function selectParam1(){
      $("#myform")[0].reset();
      let url = `/category`;
      location.href=url;
    }

    function selectParam2(){
      $("#myform1")[0].reset();
      let url = `/category`;
      location.href=url;
    }
</script>



  {{!-- <script>
    var urlParams = new URLSearchParams(window.location.search);
    var txtKey = document.getElementById(search);

    {{#if this.products}}
        txtKey.value = {{name}}
    {{/if}};

    txtKey.addEventListener('keyup', ()=> {
            if (event.keyCode === 13) {
                document.getElementById("btnSearch").click();
            }
        })

    onClickSearch = () => {
            urlParams.delete('page');
            urlParams.set('key', txtKey.value);
            window.location = `/category?${urlParams}`;
        }

  </script> --}}