 {{> banner }}
 
	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <div class="head">Thể Loại</div>
            <ul class="main-categories">
              <li class="common-filter">
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="category" name="author"><label for="category" onclick="selectParam('category', '')" >Tất cả<span></span></label></li>
                    {{#each this.categories}}
                      <li class="filter-list"><input class="pixel-radio" type="radio" id="category{{_id}}" name="category"><label for="category{{_id}}" onclick="selectParam('category', '{{_id}}')" >{{name}}<span> ({{numOfBook}})</span></label></li>
                    {{/each}}
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          <div class="sidebar-filter">
            <div class="top-filter-head">Chọn Lựa</div>
            <div class="common-filter">
              <div class="head">Tác Giả</div>
              <form action="#" id="myform">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="author" name="author"><label for="author" onclick="selectParam('author', '')" >Tất cả<span></span></label></li>
                  {{#each this.products}}
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="author{{auslug}}" name="author"><label for="author{{auslug}}" onclick="selectParam('author', '{{auslug}}')" >{{author}}<span> (1)</span></label></li>
                  {{/each}}
                </ul>
              </form>
            </div>
            <div class="common-filter">
              <div class="head">Giá Cả</div>
              <form action="#" id="myform1">
                <ul>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="price10" name="price" ><label for="price10" onclick="selectParam('price', 10)">$0 -> $10</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="price20" name="price" ><label for="price20" onclick="selectParam('price', 20)">$10 -> $20</label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="price30" name="price" ><label for="price30" onclick="selectParam('price', 30)">$20 -> </label></li>
                  <li class="filter-list"><input class="pixel-radio" type="radio" id="price99" name="price" ><label for="price99" onclick="selectParam('price', 99)">Tất cả </label></li>
                </ul>
              </form>
            </div>
            {{!-- <div class="common-filter">
              <div class="head">Price</div>
              <div class="price-range-area">
                <div id="price-range"></div>
                <div class="value-wrapper d-flex">
                  <div class="price">Price:</div>
                  <span>$</span>
                  <div id="lower-value"></div>
                  <div class="to">to</div>
                  <span>$</span>
                  <div id="upper-value"></div>
                </div>
              </div>
            </div> --}}
          </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <form method="GET">
                <select id="orderby" name="orderby" onchange="selectParam('orderby', this.value)">
                <option value="1">Giá thấp đến cao</option>
                <option value="-1">Giá cao đến thấp</option>
              </select>
              </form>
            </div>
            <div class="sorting mr-auto" >
              <form method="GET">
                <select id="numItems" name="numItems" onchange="selectParam('numItems', this.value)">
                  <option value="1000">Show All</option>
                  <option value="3">Show 3</option>
                  <option value="6">Show 6</option>
                  <option value="9">Show 9</option>               
                </select>  
              </form>  
            </div>
            <div>
              <form method="GET", action="/category">
                <div class="input-group filter-bar-search">
                  <input type="text" name="search" placeholder="Tìm kiếm">
                  <div class="input-group-append">
                    <button type="submit"><i class="ti-search" ></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              {{#each this.products}}
                <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src={{img.1.url}} alt="">
                    <ul class="card-product__imgOverlay">
                      <li><button><i class="ti-search"></i></button></li>
                      <li><button><i class="ti-shopping-cart"></i></button></li>
                      <li><button><i class="ti-heart"></i></button></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{author}}</p>
                    <h4 class="card-product__title"><a href="/category/{{categoryID}}/{{_id}}">{{name}}</a></h4>
                    <p class="card-product__price"><sapn>$</sapn>{{price}}</p>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
            <div class="row justify-content-center">
              <nav aria-label="Page navigation example" id="pagination">
                {{{ createPagination pagination paginationClass="pagination"}}}
              </nav>
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	<section class="related-product-area">
		<div class="container">
			<div class="section-intro pb-60px">
        <p>Popular Item in the market</p>
        <h2>Top <span class="section-intro__style">Product</span></h2>
      </div>
			<div class="row mt-30">
        {{#each topproducts1}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="/category/{{categoryID}}/{{_id}}"><img src={{img.1.url}} alt=""></a>
              <div class="desc">
                  <a href="/category/{{categoryID}}/{{_id}}" class="title">{{name}}</a>
                  <div class="price">${{price}}</div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</section>
	<!-- ================ top product area end ================= -->		

<script>
    let urlParams = new URLSearchParams(location.search);
    let params = {
        author: "",
        price: "99",
        orderby: "1",
        numItems: "1000",
        search: "",
        page: parseInt(1),
        category: ""
    };

    
    $(document).ready(() => {
        let checkboxes = ['author', 'price', 'category'];
        for (let key in params){
          let control = $(`#${key}${urlParams.get(key)}`);
          if (control){
            $(control).prop('checked', true);
          }
        }

        $('#orderby').val(urlParams.get('orderby'));
        $('#numItems').val(urlParams.get('numItems'));
        $('#pagination li').addClass('page-item');
        $('#pagination li a').addClass('page-link');
        let savePage = urlParams.get('page');
        $('#pagination li a').each((index, item) =>{
          let page = $(item).attr('href').split('=')[1]
          urlParams.set('page', page);
          let href = '/category?'+urlParams.toString();
          $(item).attr('href', href);
        });
        urlParams.set('page', savePage);
    });

    for (let key in params){
      if(!urlParams.has(key)){urlParams.append(key,params[key]);}
    }

    function selectParam(key, value, reset = false){
      urlParams.set(key,value);
      let url = `/category?${urlParams.toString()}`;
      location.href=url;
    }
    
</script>
