 {{> banner }}
 
  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<divs class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src={{product.img.0.url}} alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
					</divs>
				</div>
				<div class="col-lg-5 offset-lg-1">
					{{#with product}}
						<div class="s_product_text">
							<h3>{{name}}</h3>
							<h2><span>$</span>{{price}}</h2>
							<ul class="list">
					{{/with}}
								{{#with detailcategory}}
								<li><a class="active" href="#"><span>Category : </span>{{name}}</a></li>
								{{/with}}
					{{#with product}}
								<li><a href="#"><span>Author : </span> {{author}}</a></li>
							</ul>
							<p>{{overview}}</p>
							<div class="product_count">
								<label for="qty">Quantity:</label>
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
									class="increase items-count" type="button"><i class="ti-angle-left"></i></button>
								<input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
								<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
									class="reduced items-count" type="button"><i class="ti-angle-right"></i></button>
								<a class="button primary-btn" href="#">Add to Cart</a>               
							</div>
							<div class="card_area d-flex align-items-center">
								<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
								<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
							</div>
						</div>
					{{/with}}	
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mô Tả</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Chi Tiết</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
					 aria-selected="false">Bình Luận</a>
				</li>
				{{!-- <li class="nav-item">
					<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
					 aria-selected="false">Đánh Giá</a>
				</li> --}}
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
					{{#with product}}
					<p>{{description}}</p>
					{{/with}}
				</div>				
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<div class="table-responsive">
						<table class="table">
							{{#with product}}
								<tbody>
									<tr>
										<td>
											<h5>Mã XB</h5>
										</td>
										<td>
											<h5>{{detail.isbn}}</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Đơn Vị XB</h5>
										</td>
										<td>
											<h5>{{detail.publisher}}</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Ngày XB</h5>
										</td>
										<td>
											<h5>{{detail.publication_date}}</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Số Trang</h5>
										</td>
										<td>
											<h5>{{detail.pages}}</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Top Bán</h5>
										</td>
										<td>
											<h5>{{detail.sales_rank}}</h5>
										</td>
									</tr>
									<tr>
										<td>
											<h5>Kích Cỡ</h5>
										</td>
										<td>
											<h5>{{detail.product_dimensions}}</h5>
										</td>
									</tr>
								</tbody>
							{{/with}}
						</table>
					</div>
				</div>

				<div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
					<div class="row">
						<div class="col-lg-6">
							{{#each this.comments}}
								<div class="comment_list">
									<div class="review_item">
										<div class="media">
											<div class="d-flex">
												<img src={{avt_img}} alt="">
											</div>
											<div class="media-body">
												<h4>{{name}}</h4>
												<h5>{{date}}</h5>
											</div>
										</div>
										<p>{{text}}</p>
									</div>
								</div>
							{{/each}}
						</div>
						<div class="col-lg-6">
							<div class="review_box">
								<h4>Post a comment</h4>
								<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Full name">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea class="form-control" name="message" id="message" rows="1" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12 text-right">
										<button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
									</div>
								</form>
							</div>
						</div>					
					</div>					
				</div>
			</div>
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->  
	<section class="related-product-area">
		<div class="container">
			<div class="section-intro pb-60px">
        <p>Các Sách Liên Quan</p>
        <h2>Related <span class="section-intro__style">Product</span></h2>
      </div>
			<div class="row mt-30">
        {{#each topproducts1}}
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="/category/{{categoryID}}/{{_id}}"><img src={{img.0.url}} alt=""></a>
              <div class="desc">
                  <a href="/category/{{categoryID}}/{{_id}}" class="title">{{name}}</a>
                  <div class="price">${{price}}</div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
		</div>
	</section>
	<!--================ end related Product area =================-->  	
